.bgitem {
    background-color: rgb(223, 240, 240);
    height: 430px;
    border-radius: 20px;
    margin-bottom: 20px;
    }

.result {
    color: rgb(62, 196, 80);
    font-size: 25 px;
    text-transform: uppercase;
    font-weight: 700;
}

.mynumber{
    color: rgb(53, 95, 59);
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 750;
    padding-top: 25;
    padding-bottom: 45;
}

.interpretation{
    margin: 16;
    font-size: 20px;
    color: rgb(23, 8, 226);
    text-align: center;
}
    